@import '~node_modules/@fontsource/open-sans/index.css';
@import '~node_modules/@fontsource/fira-code/index.css';
@import '~node_modules/font-awesome/css/font-awesome.min.css';
@import 'theme/registry';
@import 'theme/emit';
@import 'theme/mixins';
@import 'theme/components';
@import 'header';
@import 'dropdown';
@import 'sections';
@import 'examples';
@import 'sequencer';
@import 'library';
@import 'track-settings';
@import 'knob';
@import 'responsive';

@font-face {
  font-family: 'Public Pixel';
  src: url('../assets/fonts/public-pixel/PublicPixel.woff2') format('woff2'),
    url('../assets/fonts/public-pixel/PublicPixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
